{{#if questions}}
<h2>{{questions.content}}</h2>
<h4>{{questions.topic}}</h4>
{{else}}
<h2>That question couldn't be found!</h2>
{{/if}}


<h2>{{question.topic}}</h2>

{{!-- <h2>Add a new question</h2>
<form action='/question/{{ question.name }}' method="patch">
    <input type="text" name="questions[content]" placeholder="???">
    <input type="submit" value="submit">
</form> --}}