{{#if question}}
<h2>{{question.content}}</h2>
<h4>Topic: {{question.topic}}</h4>
{{else}}
<h2>That question couldn't be found!</h2>
{{/if}}


{{!-- <h2>{{question.topic}}</h2> --}}

<h4>Update Question</h4>
<form action="/questions/{{question.topic}}?_method=put" method="post">
    <input type="text" name="question[content]" value="{{question.topic}}">
    <input type="text" name="question[topic]" value="{{question.topic}}">
    <input type="submit" value="Update">
</form>

<h4>Delete a question</h4>
<form action="/question/{{question.content}}?_method=delete" method="post">
    <button type="submit">Delete</button>
</form>